@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Imbue:opsz,wght@10..100,100;10..100,200;10..100,300;10..100,400;10..100,500;10..100,600;10..100,700;10..100,800;10..100,900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*
font-family: 'Girassol', serif;
font-family: 'Imbue', serif;
font-family: 'Unna', serif;
*/
*{
    transition: 0.3s;
}
html{
    font-size: 30px;
}
 body{background-color: black;
color: white;
font-family: 'Imbue', serif;
 }

header{
    width: 100%;
    height: 16vh;
    background-color:rgb(0, 0, 0);
}
header button{
    display: none;
}
header nav{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav a{
    font-size: 1rem;
    color: white;
    font-family: 'Girassol', serif;
}

header nav h1 span{
    font-size: 0;
}
main{
    width: 80%;
    margin: auto;
}
main .top{
margin-top: 14vh;
margin-bottom: 16vh;
}
main .top h2{
    font-size: 3rem;
    margin-bottom: 6vh;
}

main .top h3{
    font-size: 1.3rem;
    margin: 3vh 0;
}
main .box{
    width: 100%;
    height: 70vh;
    position: relative;
}
main .box .firstline{
    width: 30%;
    height: 2px;
    background-color: white;
    display: block;
    position: absolute;
    left: 20%;
    top: 3vh;
    z-index: -99;
}
main .box .leftimg{
    float: left;
}
main .box .rightimg{
    float: right;
}
main .box .left{
    margin-left: 50%;
}
main .box .text h4{
    font-size: 2rem;
    margin-bottom: 4vh;
}
main .box .right{
    margin-right: 50%;
    padding-top: 10vh;
}
main .box .marketingtext{
    padding-top: 7vh;
    margin-left: 40%;
}
main .box .second{
    width: 60%;
    height: 2px;
    background-color: white;
    display: block;
    position: absolute;
    top: 13vh;
    right: 30%;
    z-index: -99;
}
main .box .third{
    width: 20%;
    height: 2px;
    background-color: white;
    display: block;
    position: absolute;
    top: 10vh;
    left: 15vw;
    z-index: -99;
}
main .box .fourth{
    width: 77%;
    height: 2px;
    background-color: white;
    display: block;
    position: absolute;
    top: 13vh;
    right: 10%;
    z-index: -99;
}
main button{
    width: 21vw;
    height: 5.5vh;
    display: block;
    margin: auto;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0.5rem;
    font-size: 0.7rem;
    font-family: 'Unna', serif;
    cursor: pointer;
}
main button:hover{
    background-color: white;
    color: black;
}
.consultation{
    width: 100%;
    height: 73.2vh;
    background-color: white;
    color: black;
    margin-top: 20vh;
}
.consultation span{
    font-size: 2rem;
    text-align: center;
    font-family: 'Imbue', serif;
    padding-top: 9.75vh;
    display: block;
}
.consultation input{
    display: block;
    width: 100%;
    max-width: 70%;
    height: 4vh;
    margin: 3.66vh auto;
    display: block;
    font-size: 0.66rem;
    font-family: 'Unna', serif;
    padding-left: 0.5rem ;
}
.consultation button{
    width: 21vw;
    height: 5.5vh;
    display: block;
    margin: auto;
    background-color: black;
    color: white;
    font-size: 0.7rem;
    font-family: 'Unna', serif;
    cursor: pointer;
}
.consultation button:hover{
    background-color: white;
    color: black;
}
footer{
    width: 100%;
    height: 100vh;
    color: white;
    overflow: hidden;
    text-align: center;

}
footer .wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 9.75vh 0;
    

}
footer .wrap img{
    margin-bottom: 7.3vh;
}
footer .wrap ul li{
    margin-bottom: 6.1vh;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Girassol', serif;

}
footer .wrap .social{
    display: flex;

}
footer .wrap .social a{
    margin: 0 1.4vw;
}
@media screen and (max-width:1366px) {
    html{
        font-size: 28px;
    }

}

@media screen and (max-width:1200px ) {
    html{
        font-size: 22px;
    }

}
@media screen and (max-width:1000px) {
    html{
        font-size: 20px;
    }
    main .box .leftimg{
       width: 30%;
    }
    main .box .rightimg{
        width: 30%;
    }
}
@media screen and (max-width: 768px) {
    html{
        font-size: 16px;
    }
}
@media screen and (max-width:540px) {
    html{
        font-size: 14px;
    }
    
    section .box{
        width: 100%;
    }
    header nav .menu{
        display: none;    
    }
    footer{
        height: fit-content;
    }
    footer .wrap ul li{
        margin-bottom: 2rem;
    }
    main .box img{
        display: none;

    }
    main .box .text{
        width: 100%;
        margin-left: 0;
        
    }
    main .box .firstline{
        display: none;
    }
    main .box .second{
display: none;
    }
    main .box .third{
        display: none;
    }
    main .box .fourth{
        display: none;
}
    main .box{
        height: fit-content;
        padding: 2rem 0;
}
}
