@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Imbue:opsz,wght@10..100,100;10..100,200;10..100,300;10..100,400;10..100,500;10..100,600;10..100,700;10..100,800;10..100,900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
font-family: 'Girassol', serif;
font-family: 'Imbue', serif;
font-family: 'Unna', serif;
*/
* {
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

html {
    background-color: black;
    color: white;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;

}
li{
    list-style: none;
}
header {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
}

header nav {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

header nav a {
    line-height: 100px;
    font-size: 20px;
    color: white;
    font-family: 'Girassol', serif;
}

header nav h1 img {
    margin-top: 8.5px;
}

header nav h1 span {
    font-size: 0;
}

main {
    width: 80%;

    margin: 10vh auto;



}

main h2 {
    font-size: 5vh;

}

main>span {
    width: 5vw;
    height: 1px;
    background-color: white;
    display: block;
    margin-top: 1vh;
    margin-bottom: 3vh;

}

main .wrap {


    display: flex;
    justify-content: space-between;
}

main .wrap span {
    font-size: 1rem;
}

main .wrap .left {
    width: 48%;
    float: left;

}

main .wrap .left input {
    width: 100%;
    height: 2.5vh;
}

main .wrap .right {
    width: 48%;
    float: right;
    display: flex;
    flex-wrap: wrap;
}

main button {
    width: 20vw;
    height: 4vh;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    margin: 6vh auto;
    display: block;
}
main button:hover{
    background-color: white;
    color: black;
}
.consultation {
    clear: both;
    width: 100%;
    height: 40vh;
    margin: auto;
    color: black;
    background-color: white;
    text-align: center;
    padding: 8vh 0;
}

.consultation span {
    font-size: 1.5rem;
    font-weight: 500;
}

.consultation input {
    width: 60%;
    height: 1.5rem;
    margin: 1vh 0;
}

.consultation button {
    width: 20%;
    background-color: black;
    color: white;
    height: 1.5rem;
    cursor: pointer;
}
.consultation button:hover{
    background-color: whitesmoke;
    color: black;
}
footer{
width: 100%;
height: fit-content;
color: white;
overflow: hidden;
text-align: center;

}
footer .wrap{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 3vh 0;


}
footer .wrap img{
width: 60%;
    margin:auto;
margin-bottom: 3vh;
}
footer .wrap ul li{
margin-bottom: 2vh;
text-align: center;
font-size: 1.3rem;
font-family: 'Girassol', serif;

}
footer .wrap .social{
display: flex;
}

footer .wrap .social img{
    width: 70%;
}
footer .wrap .social a{
margin: 0 2vh;
}
footer .wrap .social a:last-child{
    margin-right: 0;
}
footer span{
font-size: small;
}
@media screen and (max-width:1366px) {
    html{
        font-size: 28px;
    }

}

@media screen and (max-width:1200px ) {
    html{
        font-size: 22px;
    }

}
@media screen and (max-width:1000px) {
    html{
        font-size: 20px;
    }
}
@media screen and (max-width: 768px) {
    html{
        font-size: 16px;
    }
}
@media screen and (max-width:540px) {
    html{
        font-size: 14px;
    }
    
    header nav .menu{
        display: none;    
    }
    footer{
        height: fit-content;
    }
    footer .wrap ul li{
        margin-bottom: 2rem;
    }
}
